@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:wght@500&family=DM+Serif+Display&family=Hedvig+Letters+Sans&family=Josefin+Sans&family=Lilita+One&family=Merienda&family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Nunito+Sans:ital,opsz@1,6..12&family=Nunito:wght@200;300;400;500;600&family=Open+Sans&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.navBar {
    height: 15vh;
    background-color: #37517e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar h1{
    margin-left: 10rem;
    font-size: 30px;
    font-family: "Jost", sans-serif;
    color: #ffff;
    letter-spacing: 7px;
}

.navBar .navLinks .links {
    display: flex;
    justify-content: space-between;
}
.navBar .navLinks .links li{
    margin-top: 10px;
}
.navBar .navLinks .links a {
    margin-right: 2rem;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
}
.navBar .navLinks .links .home{
    color:#47b2e4 ;
}
.navBar .navLinks .links a:hover{
    color: #47b2e4;
}
.navBar .navLinks .links button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 2rem;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    background-color: transparent;
    border: 2px solid #47b2e4;
}
.navBar .navLinks .links button:hover{
    background-color:#47b2e4 ;
    color: #ffff;
}
.heroContainer{
    width: 100%;
    height: 80vh;
    background-color: #37517e;
    display: flex;
}
.heroContainer .left{
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heroContainer .leftside {
    margin-left: 6rem;
}
.heroContainer .leftside h1{
    /* width: 40%; */
    font-size: 48px;
    font-family: "Jost", sans-serif;
    color: #ffff;
     /* font-weight: 900; */
}
.heroContainer .leftside h2{
    /* width: 105%; */
    font-size: 24px;
    font-family: "Jost", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.heroContainer .start{
    display: flex;
    margin-top: 2rem;
}
.heroContainer .start button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 2rem;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    background-color: #47b2e4;
    border: 2px solid #47b2e4;
}
.heroContainer .start button:hover{
    background-color: white;
    color:#47b2e4 ;
}

.heroContainer .image img{
   height: 80%;
   width: 80%;
   margin-left: 2rem;
}
.clientContainer{
    background-color: #f3f5fa;
}
.client{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
.client img {
    width: 100px;
    padding: 10px;
    margin-left: 20px;
    filter: grayscale(1);
    transition: 2s;
}
.client img:hover{
    scale: 1.15;
    filter: grayscale(0);
}
.aboutContainer{
    /* background-color: #444444; */
    /* height: 50%; */
}
.aboutContainer .title{
    display: flex;
    justify-content: center;
}
.title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    margin-left: 20px;
    /* margin-top: 2rem; */
    
    height: 1px;
    background-color: #ddd;
    bottom: 1px;
    /* top: 0; */
}
.aboutContainer .title h2{
    font-size: 32px;
    font-family: "Jost", sans-serif;
    color: #37517e;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

}
.aboutContainer .aboutSection{
    display: flex;
    /* width: 50%; */
    /* background-color: #0d6efd; */
    /* justify-content: center; */
    margin-left: 4rem;
}
.aboutContainer .aboutSection .left{
    width: 50%;
}
.aboutContainer .aboutSection .left p{
    width: 90%;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
    color: #444444 ;
    line-height: 1.5rem;
}
.aboutContainer .aboutSection .left .point{
    margin-top: 10px;
}
.aboutContainer .aboutSection .left i{
    margin-right: 10px;
    color: #47b2e4;
}
.aboutContainer .aboutSection .left li{
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
    color: #444444 ;
    line-height: 2rem;
}
.aboutContainer .aboutSection .right{
    width: 50%;
}
.aboutContainer .aboutSection .right p{
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
    color: #444444 ;
    width: 90%;
    line-height: 1.5rem;
}
.aboutContainer .aboutSection .right button{
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 10px 40px;
    border: 2px solid #47b2e4 ;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}
.aboutContainer .aboutSection .right button:hover{
    background-color:#47b2e4 ;
    color: white;
}

